

<%- include("../partials/dashboard/header.ejs") %>


    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">

          <%-include("../partials/dashboard/navList.ejs") %>
          
        </ul>
      </nav>
      <!-- partial -->
     <div class="d-flex w-100 h-100  justify-content-center align-items-center" style="height: 900px !important;">
      <h1 class="display-1">Dashboard</h1>
     </div>
      <!-- main-panel ends -->
    </div>



    <%- include("../partials/dashboard/footer.ejs") %>



